<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Sending</h4>
    </div>
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" ng-click="showDestionationSelector()"
                class="btn btn-default dropdown-toggle">{{message.destinationType}} <span class="caret"></span></button>
            <ul class="dropdown-menu" ng-style="{display: selectorStyle}">
              <li><a href="" ng-click="setDestionationType('/topic/')">/topic/</a></li>
              <li><a href="" ng-click="setDestionationType('/queue/')">/queue/</a></li>
            </ul>
          </div><!-- /btn-group -->
        <input type="text" class="form-control" placeholder="name" ng-model="message.destination">
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">Send</button>
    </div>
</div>