<div class="hold-transition skin-blue sidebar-mini fixed sidebar-collapse-no {{showSearch == true ? 'searchable' : ''}}
    {{isOptionOn('view.hideHelp') ? '': 'show-help'}}">
    <div class="wrapper">
        <header class="main-header">
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top navigation-top-panel" role="navigation">
                <div class="row">
                    <div class="col-md-6">
                        <div class="sidebar-form">
                            <div class="input-group">
                                <input type="text" class="form-control {{logFilterValue != '' ? 'filled' : 'empty'}}"
                                       placeholder="Filter..."
                                       ng-model="logFilterValue"
                                       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                                       ng-disabled="logSearchValue != ''"
                                >
                          <span class="input-group-btn" ng-click="logFilterValue = ''">
                            <button type="button" class="btn btn-flat"><i class="fa fa-close"></i>
                            </button>
                          </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sidebar-form">
                            <div class="input-group">
                                <input type="text" class="form-control {{logSearchValue != '' ? 'filled' : 'empty'}}"
                                       placeholder="Search..."
                                       ng-model="logSearchValue"
                                       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                                       ng-disabled="logFilterValue != ''"
                                >
                          <span class="input-group-btn" ng-click="logSearchValue = ''">
                            <button type="button" class="btn btn-flat"><i class="fa fa-close"></i>
                            </button>
                          </span>
                            </div>
                        </div>
                        <div class="search-result" ng-if="logSearchValue != ''">
                            <div class="callout callout-navy">
                                <div class="log-list">
                                    <div ng-repeat="log in items | logComplex:true:true:true:true:true:caret2:50:logSearchValue"
                                         class="entry-log level-{{log.level.levelStr}} pointer" ng-click="chooseEntry(log)">
                                        <div logback></div>
                                        <!--<span class="{{log.selected ? 'selected' : ''}}">-->
                                        <!--<span class="log-date pointer" log-date-time="log.timeStamp" ng-click="chooseEntry(log)"></span>-->
                                        <!--<span class="log-level level-{{log.level.levelStr}}">{{log.level.levelStr}}&nbsp;</span>-->
                                        <!--<span message="log.formattedMessage"/>-->
                                        <!--</span>-->
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- Logo -->
            <a ng-href="#" class="logo">
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">WMQ</b>client</span>
            </a>
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">
                        <b>SUBSCRIPTIONS</b>
                        <div class="help markers">
                            <div class="box box-info">
                                <div class="box-body">
                                    <label>Markers</label>
                                    <p>Markers to follow</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <a ng-href=""><i class="fa fa-hashtag"></i><span>{{currentMarker}}</span></a>
                    </li>
                    <li>
                        <a href="" ng-click="send(lastMessage)"><i class="fa fa-envelope"></i> <span>Send</span></a>
                    </li>
                    <li ng-repeat="marker in markers" class="{{currentMarker == marker ? 'active' : ''}}">
                        <a ng-href="#follow/{{marker}}"><i class="fa fa-hashtag"></i><span>{{marker}}</span></a>
                    </li>
                    <li class="header">
                        <b>CONTROLS</b>
                        <div class="help controls">
                            <div class="box box-info">
                                <div class="box-body">
                                    <label>Freeze button</label>
                                    <p>
                                        Freezes log appearance for a while<br/>
                                        <span class="label bg-red">0</span> - frozen logs quantity
                                    </p>
                                    <label>Filter/Search button</label>
                                    <p>
                                        Shows/hides filter/search field
                                    </p>
                                    <label>Clear button</label>
                                    <p>
                                        Clears log list completely<br/>
                                        <span class="label bg-green">0</span> - total log quantity
                                    </p>
                                    <label>Select button</label>
                                    <p>Turns on/off mode, in which you can select log entries <br/>and then iterate through them</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="{{isStopped == true ? 'active-red' : ''}}">
                        <a href="" ng-click="isStopped = !isStopped"><i class="fa fa-certificate text"></i>
                            <span>Freeze</span>
                            <small class="label pull-right bg-red" ng-show="isStopped">{{queue.length}}</small>
                        </a>
                    </li>
                    <li class="{{showSearch == true ? 'active' : ''}}">
                        <a href="" ng-click="showSearch = !showSearch"><i class="fa fa-search"></i><span>Filter/Search</span></a>
                    </li>
                    <li>
                        <a href="" ng-click="clear();"><i class="fa fa-eraser"></i>
                            <span>Clear</span>
                            <small class="label pull-right bg-green">{{items.length}}</small>
                        </a>
                    </li>
                    <li class="header">
                        <b>SELECT</b>
                    </li>
                    <li class="{{isSelectMode == true ? 'active-orange' : ''}}">
                        <a href="" ng-click="isSelectMode = !isSelectMode"><i class="fa fa-hand-pointer-o text"></i>
                            <span>Select</span>
                            <small class="label pull-right bg-orange">{{selected.length}}</small>
                        </a>
                    </li>                    
                    <li class="header"><b></b></li>
                    <li>
                        <a href="" ng-click="showOptionsDialog()"><i class="fa fa-gears"></i> <span>Options</span></a>
                    </li>
                    <li>
                        <a href="" ng-click="setOption('view.hideHelp', false)"><i class="fa fa-question"></i> <span>Help</span></a>
                    </li>
                    <li class="header"><b></b></li>
                    <li class="github-menu-link"><a href="https://github.com/avvero/wmqclient" target="_blank">
                        <i class="fa fa-github"></i> <span>github</span></a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="pulse_holder {{stompClient.connected ? 'connected' : ''}}"
             tooltip-placement="right"
             uib-tooltip="{{stompClient.connected ? 'Connection is established' : 'Connection is lost'}}">
            <div class="pulse_marker">
                <div class="pulse_rays"></div>
            </div>
        </div>
        <!-- Content Wrapper. Contains page content -->
        <div class="">
            <div class="flow {{showSettings ? 'with-settings' : ''}}" class="flow">
                <div class="log-list">
                    <div ng-repeat="log in items | logComplex:showTrace:showDebug:showInfo:showWarn:showError:caret:pageLogLimit:showSearch ? logFilterValue:''"
                         class="entry-log {{isSelectMode ? 'pointer' : ''}} {{log.selected ? 'selected' : ''}} {{log.blink? 'fade_in' : '' }}"
                         ng-click="isSelectMode ? setSelected(log, 'selected') : nullFunction()"
                         tension="{{tension}}"  style="{{$first? getShift(tension) : ''}}">
                        <!--use logback template-->
                        <div jms id="logEntry_{{log.idx}}" class="log-entry"></div>
                    </div>
                </div>
            </div>
            <div class="btn-group select-next-prev-block" ng-if="selected.length > 0">
                <a type="button" class="btn btn-sm" ng-click="selectPrev()"><i class="fa fa-arrow-up"></i></a>
                <a type="button" class="btn btn-sm" ng-click="selectNext()"><i class="fa fa-arrow-down"></i></a>
            </div>
        </div>
        <div class="debug-box" ng-if="isOptionOn('app.isDebugMode')">
            <p>DEBUG</p>
            <p>pageLogLimit: {{pageLogLimit}}</p>
            <p>caret.position: {{caret.position}}</p>
            <p>caret.tension: {{caret.tension}}</p>
            <p>caret.hash: {{caret.hash}}</p>
        </div>
        <div class="chart-box" ng-if="isOptionOn('view.showChart')">
            <div log-chart="items.length"></div>
        </div>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <div class="help description">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Help</h3>
            </div>
            <div class="box-body">
                <label>Please check out the elements:</label>
                <p>
                    <ul>
                        <li>Markers</li>
                        <li>Freeze button</li>
                        <li>Search button</li>
                        <li>Clear button</li>
                        <li>Log level tumblers</li>
                        <li>Server pulse</li>
                    </ul>
                </p>
                <button type="button" class="btn btn-success" ng-click="changeBoolOption('view.hideHelp')">
                    Click to close help
                </button>
            </div>
        </div>
    </div>
    <div class="help server_pulse">
        <div class="box box-info">
            <div class="box-body">
                <label>Server pulse</label>

                <p>
                    Indicates the status of the connection with websocket server
                </p>
            </div>
        </div>
    </div>
</div>

<div class="help_back" ng-hide="isOptionOn('view.hideHelp')"></div>
<div class="help_side-menu" ng-hide="isOptionOn('view.hideHelp')"></div>