<!DOCTYPE html>
<body>
    <div class="markers_container" ng-if="!stompclient.connected">
        <div class="page-header">
            <h1>WMQ client <small>web client for activemq</small></h1>
        </div>
        <div ng-if="config.connections.length > 0">
            <p class="lead">Set url to broker to connect:</p>
            <div class="input-group">
                <input type="text" class="form-control list-group-item" ng-model="newConnectionUrl"
                       placeholder="Url">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="connectByUrl(newConnectionUrl)" ng-disabled="!newConnectionUrl">
                        <i class="fa fa-open">Connect</i>
                    </button>
                </span>
            </div>
            <p class="lead">
                <div>or select:</div>
                <p ng-repeat="connection in config.connections">
                    <a ng-href="#" ng-click="connect(connection)">{{connection.url}}</a>
                </p>
            </p>
        </div>
    </div>
    <div class="markers_container" ng-if="stompclient.connected">
        <div class="page-header">
            <h1>WMQ client <small>web client for activemq</small></h1>
        </div>
        <div ng-if="connection.destinations.length > 0">
            <p class="lead">Set endpoint to subscribe:</p>
            <div class="input-group">
                <input type="text" class="form-control list-group-item" ng-model="newEndpoint"
                        placeholder="Endpoint name">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="subscribe(newEndpoint)" ng-disabled="!newEndpoint">
                        <i class="fa fa-open">Subscribe</i>
                    </button>
                </span>
            </div>
            <p class="lead">
                <div>or select:</div>
                <p ng-repeat="destination in connection.destinations">
                    <a ng-href="#follow/{{destination}}">{{destination}}</a>
                </p>
            </p>
            <p class="lead">
                <button class="btn btn-default" ng-click="disconnect()">
                    <i class="fa fa-open"><< Back</i>
                </button>
            </p>
        </div>
    </div>
    <div class="github_link"><a href="https://github.com/avvero/wmqclient">github</a></div>
</body>
