<!DOCTYPE html>
<body>
    <div class="markers_container" ng-if="!stompclient.connected">
        <div class="page-header">
            <h1>WMQ client <small>web client for activemq</small></h1>
        </div>
        <div ng-if="config.connections.length > 0">
            <p class="lead">Choose connection :</p>
            <p class="lead" ng-repeat="connection in config.connections">
                <a ng-href="#" ng-click="connect(connection)">{{connection.url}}</a>
            </p>
        </div>
    </div>
    <div class="markers_container" ng-if="stompclient.connected">
        <div class="page-header">
            <h1>WMQ client <small>web client for activemq</small></h1>
        </div>
        <div ng-if="connection.destinations.length > 0">
            <p class="lead">Choose subscription :</p>
            <p class="lead" ng-repeat="destination in connection.destinations">
                <a ng-href="#follow/{{destination}}">{{destination}}</a>
            </p>
        </div>
    </div>
    <div class="github_link"><a href="https://github.com/avvero/wmqclient">github</a></div>
</body>
